<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
<script type="text/javascript" src="static/js/bootstrap.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
<!-- Navigation -->
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href={{url_for('home')}} class="navbar-brand">GrowBiz (example NavBar)</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"> </span> Favorites [Left link example 1]</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-cloud-upload"> </span> Upload Product [Left link example 2]</a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up [Right link example 1]</a></li>
      <li><a href={{url_for('login')}}><span class="glyphicon glyphicon-log-in"></span> Login [Right link example 2]</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Log Out [Right link example 3]</a></li>
    </ul>
  </div>
</nav>
{%if owner ==None%}
<h1>Hi!</h1>
{%else%}
<h1>Hi, {{owner.name}}!</h1>
{%endif%}
<h3>The login buttom and the home is working</h3>
</body>
</html>
